1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
!type test.txt

test1 = 'This is a test of the emergency text system,'

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [1]:
with open ("test.txt") as f:
    test2 = f.read()
print(test2)

test1 = 'This is a test of the emergency text system,'

test2 considers the entire text in the file

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)

In [4]:
!type "books.csv"

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3
db = sqlite3.connect("books.db")
cursor = db.cursor()
cursor.execute("create table books(title text, author text, year int)")

5. Read books.csv and insert its data into the book table.

In [6]:
db.commit()

In [17]:
import csv
with open("books.csv") as f:
    b = csv.DictReader(f)
    for i in b:
        cursor.execute("INSERT INTO books VALUES(?,?,?)",(i["title"],i["author"],i["year"]))
db.commit()

6. Select and print the title column from the book table in alphabetical order.

In [20]:
for i in cursor.execute("select title from books order by title asc"):
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

7. From the book table, select and print all columns in the order of publication.7

In [21]:
for i in cursor.execute("SELECT * FROM books ORDER BY year"):
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Usethe sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [22]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [23]:
! python -m pip install redis

Collecting redis
  Downloading redis-4.1.4-py3-none-any.whl (175 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\sgopi\anaconda3\lib\site-packages (from redis) (21.0)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\sgopi\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\sgopi\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.4

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')