Question 1.Write a Python program to find sum of elements in list?

In [1]:
l1 = [1,2,3,4,5]
sum = 0
for i in l1:
  sum = sum+i
print("Sum of elements is :"+str(sum))

Sum of elements is :15

Question 2.Write a Python program to Multiply all numbers in the list?

In [2]:
l2 = [1,2,3,4,5]
product = 1
for i in l1:
  product = product*i
print("Product of elements is :"+str(product))

Product of elements is :120

Question 3.Write a Python program to find smallest number in a list?

In [16]:
l3 = [0,15,-1,10,9]
minVal = l3[0]
i = 0
for i in range(0,len(l3)):
  if l3[i]<minVal:
    minVal = l3[i]
print("Smallest value is :"+str(minVal))

Smallest value is :-1

Question 4.Write a Python program to find largest number in a list?

In [17]:
l4 = [0,15,-1,10,9]
maxVal = l4[0]
i = 0
for i in range(0,len(l4)):
  if l4[i]>maxVal:
    maxVal = l4[i]
print("Largest value is :"+str(maxVal))

Largest value is :15

Question 5:Write a Python program to find second largest number in a list?

In [10]:
l5 = [0,15,-1,10,9,15]
f = l5[0]
s = l5[0]
for i in range(0,len(l5)):
  if l5[i]>f:
    f = l5[i]
  elif l5[i]<f and l5[i]>s:
    s = l5[i] 
print("Second largest is :"+str(s))

Second largest is :10

Question 6.Write a Python program to find N largest elements from a list?

In [26]:
l6 = [0,15,-1,10,9,15]
n = int(input("Enter N th largest number to be found: "))
if n<=0 or n>len(l6):
  print("Invalid input")
else:
  i=1
  while(i<=n):
    if i == n:
      print(max(l6))
    else:
      l6.remove(max(l6))
    i=i+1

Enter N th largest number to be found: 3
10

Question 7.Write a Python program to print even numbers in a list?

In [27]:
l7 = [0,15,-1,10,9,15]
for i in l7:
  if i%2 == 0:
    print(i)

0
10

Question 8.Write a Python program to print odd numbers in a List?

In [28]:
l8 = [0,15,-1,10,9,15]
for i in l8:
  if i%2 != 0:
    print(i)

15
-1
9
15

Question 9.Write a Python program to Remove empty List from List?

In [30]:
l9 = [[],[1,2],[]]
for i in l9:
  if len(i) == 0:
    l9.remove(i)
print(l9)

[[1, 2]]

Question 10.Write a Python program to Cloning or Copying a list?

In [31]:
l10 = [1,2,3,4,5]
l11 = list(l10)
print("Cloned list: ",l11)

Cloned list:  [1, 2, 3, 4, 5]

Question 11:Write a Python program to Count occurrences of an element in a list?

In [39]:
l12 = [0,15,-1,10,9,15]
d = {}
for i in l12:
  if i not in d.keys():
    d[i]=1
  else:
    d[i]=d[i]+1
for j,k in d.items():
  print("Value = {} , Count = {}".format(str(j),str(k)))

Value = 0 , Count = 1
Value = 15 , Count = 2
Value = -1 , Count = 1
Value = 10 , Count = 1
Value = 9 , Count = 1